/* RESET */

* {
  box-sizing: border-box;
  /* allows you to add padding and borders without having to add to the width of the element  */
  padding: 0;
  margin: 0;
  /* zeroing out everything to reset it */
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

/* base style */
body {
  background-color: #0c1117;
  color: white;
  font-family: "Inter", sans-serif;
  height: 5000px;
}

/* normal style */
.header {
}

.icon {
}

.logo {
  display: flex;
  align-items: center;
  padding: 0, 30px;
}

.logo__img {
  height: 45px;
  padding: 0, 30px;
}

.nav {
  background-color: #020508;
}

.nav__content {
  height: 90px;
  max-width: 1350px;
  margin: 0 30px;
  /* will put space between edge of viewport and item, it will lead to a better responsive website. */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0, 30px;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__item {
}

.nav__link {
  color: rgb(255, 255, 255);
  transition: all, 0.2s;
}

.nav__link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.hamburger {
  display: none;
}

.bar {
  height: 2px;
  background-color: white;
  width: 27px;
  margin: 5px 0;
}

footer {
  display: none;
}
/* TODO: when you are ready to edit the footer, remove displaY: none, this is to hide it rn */

/* FOR JavaScript (JS) */
.nav--open {
  transform: translateX(0%) !important;
}

/* MEDIA QUERIES: used for mobile*/
/* changes the position of the nav bar for mobile*/
@media (max-width: 650px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #020508;
    width: 100%;
    padding: 10 0 25px;
    /* animation */
    transform: translateX(-100%);
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav__link {
    font-size: 14px;
    padding: 7px 17px;
  }

  .hamburger {
    display: block;
  }
}
