@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
*{
    box-sizing: border-box; 
    /* allows you to add padding and borders without having to add to the width of the element  */
    padding: 0;
    margin: 0;
    /* zeroing out everything to reset it */
    }

body{
    font-family: 'Noto Sans';
    background-color: #0C1117;
    color: white;
}

/* links */
a{ 
    text-decoration: none;
    color: white;
}


h1{
    font-family: 'Noto Sans';
    font-weight: 500;
}

p {
    margin: 10px,0;
    /*  margins keep paragrpahs from being squsihed together.  */
}

/* nav bar */
/* logo on nav bar */
img{
    margin: 10px 0;
    width: 3%;
    display: flex;
}

#img-logo {
    margin: 10px 0;
    width: 3%;
    display: flex;
}


.navbar{
    background-color: #020508;
    color: white;
    font-family: 'Noto Sans';
    height: 104px;
}

.navbar ul{
    display: flex;
    /* this will make the ul line up in a row */
    list-style-type: none;
}

.navbar a{
    color: white;
    padding: 5px;
    margin: 0 8px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #21262D;
    border-radius: 10%;
}

/* landing */
#circular-portrait {
    position: relative;
    border-radius: 100%;
    padding: 10px;
    margin: 5px,5px;
}


/* utlities: classes to use all around the website */
.container{
    max-width: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
}